{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
    <title>Todoリスト</title>
</head>
<body>
<section>
    <h2>ログイン</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_username">ユーザー名:</label></br>
            {{form.username}}
        </div>
        <div>
            <label for="id_password">パスワード:</label></br>
            {{form.password}}
        </div>

        <button type="submit">ログイン</button></br>
        <a href="{% url 'signup' %}">登録してない方はココ</a>
    </form>
</section>
</body>
</html>
