{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
    <title>Todoリスト</title>
</head>
<body>
<section>
    <h2>新規登録</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_username">ユーザー名:</label></br>
            {{form.username}}
        </div>
        <div>
            <label for="id_email">メールアドレス:</label></br>
            {{form.email}}
        </div>
        <div>
            <label for="id_password1">パスワード:</label></br>
            {{form.password1}}
        </div>
        <div>
            <label for="id_password2">パスワード(確認用):</label></br>
            {{form.password2}}
        </div>

        <button type="submit">登録</button>
    </form>
</section>
</body>
</html>
