{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'movies/style.css' %}">
    <title>公開中の映画</title>
</head>
<body>
    <h1>公開中の映画</h1>

    {% if movies %}
    <ul>
        {% for movie in movies %}
            <li class="movie-item">
                <div class="movie-header">
                    <strong>{{ movie.title }}</strong>
                </div>
                <div class="movie-info">
                    <span>公開日: {{ movie.release_date }}</span>
                    <a href="{% url 'carendar:index' %}">日程を追加</a>
                </div>
                <div class="movie-item-content">
                    {% if movie.poster_path %}
                        <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" alt="{{ movie.title }}のポスター">
                    {% else %}
                        <p>ポスター画像がありません。</p>
                    {% endif %}
                    <div class="overview">
                        {% if movie.overview %}
                            概要: {{ movie.overview }}
                        {% else %}
                            概要:概要がありません。
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>公開中の映画はありません。</p>
    {% endif %}

    <a href="{% url 'search_movies' %}">映画を検索する</a>
</body>
</html>

