h1 {
    text-align: center; /* タイトルを中央揃えに */
    margin-top: 20px;  /* タイトルの上に余白を追加（必要なら調整） */
    font-size: 3rem; /* 大きなフォントサイズ */
    font-weight: bold; /* 太字 */
    color: #4CAF50; /* 緑色 */
    text-align: center; /* 中央揃え */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* 文字に影を付ける */
    margin: 20px 0; /* 上下の余白 */
    letter-spacing: 2px; /* 文字間隔を広げる */
    font-family: 'Arial', sans-serif; /* フォントファミリーを設定 */
}

.button-container {
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    gap: 20px; /* ボタン間の間隔 */
    margin-top: 20px; /* 上に少し余白を追加 */
}

.button-container .btn {
    width: 200px; /* ボタンの幅を統一 */
    padding: 10px 20px; /* ボタン内の余白を設定 */
    text-align: center; /* テキストを中央揃え */
    border-radius: 5px; /* ボタンの角を少し丸く */
    text-decoration: none; /* リンクの下線を除去 */
    background-color: #006400; /* ボタンの背景色を設定 */
    color: white; /* ボタンの文字色を設定 */
    border: none; /* ボーダーを非表示に */
    cursor: pointer; /* ホバー時のカーソルをポインターに */
}

.button-container .btn:hover {
    background-color: #32CD32; /* ホバー時の背景色 */
}


.registar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.greeting {
    margin-right: 20px; /* コメントとボタンの間にスペースを追加 */
}

.logout-button button {
    margin-bottom: 20px; /* ボタンの下に余白を追加 */
    margin-right: 30px;
    background-color: #006400; 
}
