body {
    text-align: center; /* 中央揃え */
    font-family: Arial, sans-serif; /* フォントスタイル */
}

h1 {
    margin-bottom: 20px; /* 下に余白を追加 */
    text-align: center; /* タイトルを中央揃えに */
    margin-top: 20px;  /* タイトルの上に余白を追加（必要なら調整） */
    font-size: 3rem; /* 大きなフォントサイズ */
    font-weight: bold; /* 太字 */
    color: #4CAF50; /* 緑色 */
    text-align: center; /* 中央揃え */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* 文字に影を付ける */
    margin: 20px 0; /* 上下の余白 */
    letter-spacing: 2px; /* 文字間隔を広げる */
    font-family: 'Arial', sans-serif; /* フォントファミリーを設定 */
}

form {
    margin-bottom: 30px; /* 下に余白を追加 */
}

input[type="text"] {
    padding: 10px; /* パディング */
    width: 300px; /* 幅を設定 */
    margin-right: 10px; /* ボタンとの間に余白 */
}

button {
    padding: 10px 15px; /* パディング */
}

ul {
    list-style: none; /* リストのスタイルを削除 */
    padding: 0; /* パディングを削除 */
}

.movie-item {
    display: flex;
    flex-direction: column; /* 縦に並べる */
    align-items: center; /* 中央に配置 */
    margin-bottom: 20px;
}

.movie-header {
    text-align: center; /* 中央寄せ */
    margin-bottom: 10px;
}

.movie-header strong {
    font-size: 24px; /* 映画の名前を大きく表示 */
}

.movie-info {
    display: flex;
    justify-content: center; /* 公開日とリンクを中央に配置 */
    margin-bottom: 10px;
}

.movie-info a {
    margin: 0 10px; /* スペース */
    color: white; /* ボタンの文字色 */
    background-color: #006400; /* ボタンの背景色 */
    padding: 4px 6px; /* ボタンの内側の余白 */
    border-radius: 4px; /* 角を丸く */
    text-decoration: none; /* 下線を消す */
    transition: background-color 0.3s; /* ホバー時のスムーズな変化 */
}

.movie-info a:hover {
    background-color: #32CD32; /* ホバー時の色 */
}


.movie-item-content {
    display: flex; /* ポスターと概要を横並びに */
    align-items: flex-start;
}

.movie-item img {
    margin-right: 20px;
}

.movie-item .overview {
    max-width: 500px; /* 概要の最大幅を設定 */
    text-align: left;
}
