body {
    font-family: Arial, sans-serif; /* フォントの設定 */
    background-color: #f4f4f4; /* 背景色 */
    color: #333; /* テキストカラー */
    display: flex; /* Flexboxを使用 */
    justify-content: center; /* 中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    height: 100vh; /* ビューポートの高さを100%に */
    margin: 0; /* マージンをリセット */
}

section {
    background: white; /* 背景色 */
    border-radius: 8px; /* 角を丸く */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* シャドウ */
    padding: 20px; /* 内側の余白 */
    width: 300px; /* 固定幅 */
}

h2 {
    text-align: center; /* タイトルの中央揃え */
    margin-bottom: 20px; /* 下のマージン */
}

form div input {
    width: 100%; /* 入力フィールドの幅を100%に設定 */
    padding: 10px; /* 内側の余白 */
    border: 1px solid #ccc; /* ボーダー */
    border-radius: 4px; /* 角を丸く */
    box-sizing: border-box; /* ボックスモデルを調整 */
    margin-bottom: 5px;
}


button {
    width: 100%; /* ボタンの幅を100%に */
    padding: 10px; /* ボタンの内側の余白 */
    background-color: #4CAF50; /* ボタンの色 */
    color: white; /* ボタンの文字色 */
    border: none; /* ボーダーを消す */
    border-radius: 4px; /* 角を丸く */
    cursor: pointer; /* カーソルをポインターに */
}

button:hover {
    background-color: #45a049; /* ホバー時の色 */
}
